---
import Layout from '../layouts/Layout.astro';
import RegisterForm from '../components/Form-Radix.jsx';
import '../styles/form.scss';

// import { Image } from 'astro:assets';
// import logo from '../img/logo.svg';

const title = 'zzzzz';
---

<Layout {title}>
	<section id="hero" aria-label="">
		<div>
			<!-- <Image src={logo} class="riverscape wow slideInUp" data-wow-delay=".5s" data-wow-duration="3s" loading="eager" alt="" /> -->
		</div>
	</section>

	<section id="register">
		<div class="container top btm">
			<div id="form-container">
				<RegisterForm client:visible />
			</div>
		</div>
	</section>
</Layout>
