---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../img/logo.svg';

const title = '';
---

<Layout {title}>
	<section id="message" role="img" aria-label="">
		<div>
			<Image src={logo} class="" loading="eager" alt="" />
			<h1>You have been added to the contact list!</h1>
			<p>Stay tuned for updates.</p>
			<p>You can unsubscribe by clicking the link at the bottom of any email you receive from us.</p>
		</div>
	</section>
</Layout>
